
.foxSvgThumbnailContainer{
    height: 300px;
}

.foxSvgFullContainer{
    height: 800px;

}
.svgElementThumbnail{
    height: 300px;
    width: 300px
}
.svgElementFull{
    height: 800px;
    width: 800px
}
.foxSvgFull{
    transform: scale(.68); 
    transform-origin: -8% 15%;
}
/* .foxSvgThumbnail{
    overflow: visible;
    transform: scale(.25); 
    transform-origin: 8% 0%;
    height: 270px
} */
.foxSvgThumbnail{
    /* overflow: visible; */
    transform: scale(.25); 
    transform-origin: 8% 0%;
    /* height: 270px */
}

.foxSvg{
    overflow: visible;
    transform: scale(.665); 
    transform-origin: -450px -250px;
}

@media only screen and (max-width: 768px) {
    .foxSvg{
        transform: scale(.465); 
        transform-origin: -55% 20%;

    }
}