.foxSvgContainer{
   height: 80vh;
    width: 50%;
    position: absolute;
    margin-right: 20%
}

.foxSvg{
    overflow: visible;
    transform: scale(.665); 
    transform-origin: -450px -250px;
}

@media only screen and (max-width: 768px) {
    .foxSvg{
        transform: scale(.465); 
        transform-origin: -55% 20%;

    }
}