
.foxSvgThumbnailContainer{
    height: 300px;
}

.foxSvgFullContainer{
    height: 100%;
    width: 600px;
    z-index: 1;
    margin-left: -22% 
}
.svgElementThumbnailFox{
    height: 300px;
    width: 300px
}
.svgElementFullFox{
    height: 100%;
    width: 600px;
}
.foxSvgFull{
    transform: scale(.67); 
    transform-origin: -8% -5%;
}
/* .foxSvgThumbnail{
    overflow: visible;
    transform: scale(.25); 
    transform-origin: 8% 0%;
    height: 270px
} */
.foxSvgThumbnail{
    /* overflow: visible; */
    transform: scale(.27); 
    transform-origin: 10% 0%;
    /* height: 270px */
}

.foxSvg{
    overflow: visible;
    transform: scale(.665); 
    transform-origin: -450px -250px;
}

@media only screen and (max-width: 768px) {
    .foxSvgFull{
        transform: scale(.51); 
        transform-origin: 42% -1%;

    }
    /* .svgElementFull{
        height: 77%;
        position: absolute;
        bottom: 0
    } */
    .foxSvgFullContainer{
        height: 77%;
        position: absolute;
        bottom: 0
    }
}