
.squirrelSvgThumbnailContainer{
    height: 300px;
}

.squirrelSvgFullContainer{
    height: 100%;
    width: 750px;
    z-index: 1;
    margin-left: -25% 
}
.svgElementThumbnailSquirrel{
    height: 300px;
    width: 300px
}
.svgElementFullSquirrel{
    height: 100%;
    width: 750px;
}
.squirrelSvgFull{
    transform: scale(.71); 
    transform-origin: 5% 5%;
}
/* .squirrelSvgThumbnail{
    overflow: visible;
    transform: scale(.25); 
    transform-origin: 8% 0%;
    height: 270px
} */
.squirrelSvgThumbnail{
    /* overflow: visible; */
    transform: scale(.28); 
    transform-origin: 1% 5%;
    /* height: 270px */
}

.squirrelSvg{
    overflow: visible;
    transform: scale(.665); 
    transform-origin: -450px -250px;
}

@media only screen and (max-width: 768px) {
    .squirrelSvgFull{
        transform: scale(.48); 
        transform-origin: 47% 20%;

    }
    /* .svgElementFull{
        height: 77%;
        position: absolute;
        bottom: 0
    } */
    .squirrelSvgFullContainer{
        height: 77%;
        /* position: absolute;
        bottom: 0 */
    }
}