.cardContainer{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 0;
    overflow: auto
}

.cardContainer::-webkit-scrollbar {
    display: none;
  }

.cardContainerHeader{
margin: auto;
}
.selectImageHeader, .userImagesHeader{
    position: absolute;
    top: 0
}
.selectImageLink{
    position:absolute;
    top: 8%

}
.selectImageLink a{
    text-decoration: none;
    color:dodgerblue
}
.selectImageLink a:visited{
    color: navy
}

@media only screen and (max-width: 768px) {
    .cardContainer{
        height: 68%;
    }
    .selectImageHeader, .userImagesHeader{
        top: 100px
    }
    .selectImageLink{
        top: 22%
    }
}